*{
    background-color: aliceblue;
}
h1 {
    text-decoration: underline;
    background-color: antiquewhite;
}
 
.topics {
    
    font-family:'Courier New', Courier, monospace;
    text-shadow: 5px 5px 3px violet,
                 7px 7px 3px indigo ,
                 9px 9px 3px blue,
                 11px 11px 3px green,
                 13px 13px 3px yellow,
                 15px 15px 3px orange,
                 17px 17px 3px red;
}

#feedback {
    color:blueviolet
}



